.flex_title {
  display: flex;
  margin-bottom: 50px;
}

.about_img_titile {
  width:10%;
  margin: 0px 0px 0px 30px;
}

.style_title {
  margin: 10px 0px 0px auto;
  color: #808080;
}

.item_title_News {
  color: #808080;
  text-decoration: none;
  margin: 0px 20px;
  font-size: 20px;
}

.item_title_About {
  color: #808080;
  text-decoration: none;
  margin: 0px 20px;
  font-size: 20px;
}

.item_title_Service {
  color: #808080;
  text-decoration: none;
  margin: 0px 20px;
  font-size: 20px;
}

.item_title_Blog {
  color: #808080;
  text-decoration: none;
  margin: 0px 20px;
  font-size: 20px;
}

.item_title_Company {
  color: #808080;
  text-decoration: none;
  margin: 0px 20px;
  font-size: 20px;
}

.item_title_Contact {
  color: #808080;
  text-decoration: none;
  margin: 0px 50px 0px 20px;
  font-size: 20px;
}

.relative_primary {
  position: relative;
  margin-bottom: 150px;
}

.about_img_primary {
  margin: 0 0 0 auto;
  display: block;
  width: 60%;
}

.comment_primary {
  font-size: 400%;
  position: absolute;
  top: 10%;
  left: 20%;
  font-family: "Comic Sans MS" ;
  color: #993366;
}

.comment_primary2 {
  font-size: 200%;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 20%;
  font-family: "MS Pゴシック" ;
  color: #993366;
}

.comment_primary3 {
  font-size: 125%;
  position: absolute;
  top: 60%;
  left: 20%;
  font-family: "MS Pゴシック" ;
  color: #808080;
}

.comment_primary_color {
  color: #66CCFF;
}

.comment_primary2_color {
  color: #66CCFF;
}

.relative_secondary {
  position: relative;
  margin-bottom: 250px;
}

.comment_secondary {
  font-family: "Comic Sans MS" ;
  color: #993366;
  position: absolute;
  left: 25%;
  padding: 0px 0px 10px 0px;
}

.comment_secondary2 {
  font-size: 200%;
  font-weight: 600;
  font-family: "MS Pゴシック" ;
  color: #808080;
  position: absolute;
  left: 25%;
  padding: 10px 0px 10px 0px;
}

.relative_list {
  position: relative;
  height: 500px;
}

.flex_list {
  width: 1000px;
  display: flex;
  position: absolute;
  left: 25%;
  top: 10px;
  border-bottom: 2px solid gray;
  padding-bottom: 5px;
}

.flex_menu {
  width: 1000px;
  display: flex;
  position: absolute;
  left: 25%;
  top: 30px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.flex_menu_first {
  width: 1000px;
  display: flex;
  position: absolute;
  left: 25%;
  top: 100px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.flex_menu_second {
  width: 1000px;
  display: flex;
  position: absolute;
  left: 25%;
  top: 170px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.flex_menu_third {
  width: 1000px;
  display: flex;
  position: absolute;
  left: 25%;
  top: 240px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.flex_menu_fourth {
  width: 1000px;
  display: flex;
  position: absolute;
  left: 25%;
  top: 310px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.flex_menu_fifth {
  width: 1000px;
  display: flex;
  position: absolute;
  left: 25%;
  top: 420px;
  border-bottom: 2px solid gray;
  padding-bottom: 5px;
}

.comment_menu_date {
  font-size: 150%;
  font-weight: 500;
  font-family: "Century Gothic" ;
  color: #808080;
  padding: 0px 50px 0px 0px ;
}

.comment_menu_news {
  font-size: 150%;
  font-family: "Century Gothic" ;
  background-color: #993366;
  color: #FFFFFF;
  border-radius: 30px;
  padding: 0px 20px 0px 20px ;
}

.comment_munu_service {
  font-size: 150%;
  font-weight: 500;
  font-family: "Century Gothic" ;
  color: #808080;
  padding: 0px 0px 0px 50px ;
}

.relative_About {
  height: 500px;
  background-color: #EEEEEE;
  position: relative;
}

.about_img_About {
  position: absolute;
  margin: 8% 0px 0px 55%;
  display: block;
  width: 25%;
}

.comment_About_title {
  position: absolute;
  font-family: "Comic Sans MS" ;
  color: #993366;
  top:3%;
  left:50%;
}

.comment_About_primary {
  position: absolute;
  font-family: "Century Gothic" ;
  color: #444444;
  top:6%;
  left:41%;
  font-size: 200%;
  font-weight: 600;
}

.comment_About_main {
  position: absolute;
  top:23%;
  left:15%;
  font-size: 140%;
  font-weight: 500;
  color: #808080;
  line-height:40px;
}

.comment_About_secondary {
  position: absolute;
  top:50%;
  left:15%;
  font-size: 140%;
  font-weight: 500;
  color: #808080;
  line-height:40px;
}

.space {
  height: 100px;
}

.relative_Sevice {
  position: relative;
  height: 125px;
}

.comment_service_title {
  font-family: "Comic Sans MS" ;
  color: #993366;
  font-size: 120%;
  position: absolute;
  left:15%;
}

.comment_service_primary {
  color: #808080;
  font-size: 180%;
  font-weight: 600;
  position: absolute;
  top:25%;
  left:15%;
}

.relative_show {
  position: relative;
  height: 600px;
}

.grid {
  display: grid;
  grid-template-rows: 250px 250px;
  grid-template-columns: 1fr 1fr;
  width:70%;
  position: absolute;
  left:15%;
}

.box1 {
  grid-column: 1/1;
  grid-row: 1/3;
  background: #CC0066;
}

.box2 {
  grid-column: 2/2;
  grid-row: 1/1;
  background: #993366;
}

.box3 {
  grid-column: 2/2;
  grid-row: 2/2;
  background: #CC99CC;
}

.About_img_svg {
  width: 15%;
  position: absolute;
  left:18%;
  top:5%;
}

.comment_show_title {
  position: absolute;
  left:22%;
  top:50%;
  color: #FFFFFF;
  font-size: 150%;
  font-weight: 600;
}

.comment_show_primary {
  position: absolute;
  left:10%;
  top:65%;
  color: #FFFFFF;
  font-size: 120%;
  font-weight: 500;
  line-height:30px;
}

.About_img_svg_rightover {
  width: 15%;
  position: absolute;
  left:52%;
  top:4%;
}

.comment_show_title_rightover {
  position: absolute;
  left:68%;
  top:8%;
  color: #FFFFFF;
  font-size: 150%;
  font-weight: 600;
}

.comment_show_primary_rightover {
  position: absolute;
  left:68%;
  top:17%;
  color: #FFFFFF;
  font-size: 110%;
  font-weight: 500;
  line-height:30px;
}

.About_img_svg_rightunder {
  width: 15%;
  position: absolute;
  left:52%;
  top:55%;
}

.comment_show_title_rightunder {
  position: absolute;
  left:68%;
  top:60%;
  color: #FFFFFF;
  font-size: 150%;
  font-weight: 600;
}

.comment_show_primary_rightunder {
  position: absolute;
  left:68%;
  top:69%;
  color: #FFFFFF;
  font-size: 110%;
  font-weight: 500;
  line-height:30px;
}

.relative_card {
  height: 700px;
  background-color: #EEEEEE;
  position: relative;

}

.comment_card_title {
  font-family: "Comic Sans MS" ;
  color: #993366;
  font-size: 120%;
  position: absolute;
  left:15%;
}

.comment_card_primary {
  color: #808080;
  font-size: 180%;
  font-weight: 600;
  position: absolute;
  top:5%;
  left:15%;
}

.flex_card {
  display: flex;
  justify-content: space-between;
}

.practice__card {
  position: absolute;
  width: 20%;
  top: 20%;
  left: 15%;
  background-color: #FFFFFF;
  border-radius: 30px;
}

.practice__card2 {
  position: absolute;
  width: 20%;
  top:20%;
  left:40%;
  background-color: #FFFFFF;
  border-radius: 30px;
}

.practice__card3 {
  position: absolute;
  width: 20%;
  top:20%;
  left:65%;
  background-color: #FFFFFF;
  border-radius: 30px;
}

.card__img img{
  width: 100%;
  border-radius: 30px 30px 0px 0px;
}

.card__sub-title {
  margin-bottom: 15px;
  display: inline-block;
  font-size: 130%;
  text-align: center;
  color:#808080;
  padding:10px 0px 0px 20px;
  line-height:30px;
}

.card-text {
  position: absolute;
  background-color: #993366;
  color: #FFFFFF;
  font-size:150%;
  width:75px;
  padding:15px;
  text-align: center;
  top:-5.7%;
  border-radius: 30px 0px 0px 0px;
  z-index:3;
}

.card__content-tag {
  font-size: 110%;
  text-align: center;
}

.card__content-tag_date {
  display: inline-block;
  padding:0px 50px 0px 0px;
  color:#808080;
}

.card__content-tag_company {
  display: inline-block;
  color:#808080;
}
.comment_card_end {
  position: absolute;
  top:85%;
  left:44%;
  width: 230px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 50px;
  font-size: 140%;
  text-align: center;
  text-decoration: none;
  padding:20px 0px 20px 0px;
  color:#993366;
  border: 2px solid;
  border-color:#993366;
}

.relative_company {
  position: relative;
  height: 800px;
}

.comment_company_title {
  position: absolute;
  top:10%;
  left:22%;
  font-family: "Comic Sans MS" ;
  color: #993366;
  font-size:120%;
}

.comment_company_primary {
  position: absolute;
  top:13%;
  left:22%;
  font-family: "MS Pゴシック" ;
  color: #444444;
  font-size:200%;
  font-weight: 600;
}

.Placement {
  position: absolute;
  top:25%;
  left:22%;
  line-height:75px;
}

.placement_left {
  background: #EEEEEE;
  color:#777777;
  font-weight: 600;
  width:300px;
  font-size:120%;
  padding:0px 0px 0px 20px;
}

.placement_right {
  width:700px;
  paddint:20px;
  font-size:120%;
  color:#777777;
  padding:0px 0px 0px 20px;
  font-weight: 600;
}

.relative_columm {
  position: relative;
  height: 425px;
}

.flex_columm {
  display: flex;
}

.about_img_recult {
  width:100%;
}

.comment_columm_left {
  position: absolute;
  top:30%;
  left:22%;
  color:#FFFFFF;
  font-size:200%;
  font-weight: 600;
}

.about_img_interview {
  width:100%;
}

.comment_columm_right {
  position: absolute;
  top:30%;
  left:67%;
  color:#FFFFFF;
  font-size:200%;
  font-weight: 600;
}

.relative_inquiry {
  position: relative;
  height: 400px;
}

.comment_inquiry {
  position: absolute;
  left:36%;
  font-size:150%;
  font-weight: 600;
  color:#666666;
}

.v_line_fix {
  position: absolute;
  left:47%;
  top:22%;
  margin-left: 50px;
  width: 3px;
  height: 50px;
  background-color: #CC0066;
}

.download__btn {
  position: absolute;
  width: 350px;
  height: 40px;
  left:40.5%;
  top:45%;
  text-align: center;
  text-decoration: none;
  padding: 40px 0px 20px 0px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  background-color: #CC0066;
  color: #FFFFFF;
  background: linear-gradient(90deg,#FF3399,#CC0066);
  box-shadow: 0px 10px #663366;
}

.download__btn::before {
  content: "";
  position: absolute;
  left:10%;
  top:32%;
  right: 15px;
  background: url(../img/147563.svg) no-repeat;
  background-size: cover;
  width: 42px;
  height: 30px;
}

.relative_end {
  position: relative;
  height: 70px;
  background-color: #EEEEEE;
}

.comment_end {
  position: absolute;
  top:15%;
  left:40%;
  color:#666666;
  font-size: 18px;
}